<app-hero-search></app-hero-search>

<div class="flex mt-[5%] ">
  <div class=" justify-between ml-[4.5%]">
    <a *ngFor="let hero of allHeroes" routerLink="/detail/{{hero.id}}"
      class="text-center inline-grid  bg-white bg-opacity-10 rounded p-3 text-white border border-gray-300 shadow-lg mb-[2%] ml-[20px]">
      <img class="w-[200px] h-[200px] w-full mb-3 pb-3 border-b border-1 border-white"
        src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.name}}">
      <div>
        {{hero.name}}
      </div>
    </a>
  </div>
</div>

<!--
li {
  position: absolute;
  z-index: 1;
} -->



<!-- <div class="">
  <div class="bg-image w-full min-h-screen ">
    <div class="backdrop w-10/12 md:w-1/4 bg-white bg-opacity-10 rounded p-3 text-white border border-gray-300 shadow-lg">

      <a *ngFor="let hero of allHeroes" routerLink="/detail/{{hero.id}}">
      <div class="w-full mb-3 pb-3 border-b border-1 border-white">
        <h3 class="text-xl font-semibold text-shadow">{{hero.name}}</h3>
      </div>

      <div>

        <img class="photo" src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.name}}">

        <p class="mb-3 tracking-wide text-base text-shadow">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, omnis.
        </p>
        <button class="backdrop bg-white bg-opacity-0 border border-white px-3 py-1.5 rounded focus:outline-none focus:ring-2 focus:ring-white focus:ring-opacity-40 hover:bg-opacity-10 text-lg">
          Detail
        </button>
      </div>
      </a>
    </div>

  </div>
</div> -->
