
<div class="flex mt-[5%] ">
  <div class="flex  flex-wrap  justify-center">
    <a *ngFor="let hero of allHeroes" routerLink="/detail/{{hero.id}}"
      class="text-center inline-grid  bg-white bg-opacity-10 rounded p-3 text-white border border-gray-300 shadow-lg mb-[2%] ml-[15px] h-50 w-40">
      <img class=" border-b border-1 border-white w-[200px] h-[150px]"
        src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.name}}">
      <div class="w-full mb-3 pb-3 border-b border-1 border-white">
      </div>
      {{hero.id}} - {{hero.name}}
    </a>
  </div>
</div>

<div class="flex justify-center pb-2">
  <button (click)="back()" class="bg-[#f78f3f] hover:bg-orange-500 text-gray-800 font-bold py-2 px-4 rounded-l">
    ⭪  Prev
  </button>
  <button (click)="next()" class="bg-[#f78f3f] hover:bg-orange-500 text-gray-800 font-bold py-2 px-4 rounded-r">
    Next ⭬
  </button>
</div>
